body {
    background-color: orange;
}

.all_posts_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

    .all_posts_container .blog_post {
        margin: 10px 20px 10px 20px;
        width: 40%;
        border-radius: 20px;
        display: flex;
        background-color: white;
        overflow: hidden;
    }

        .all_posts_container .blog_post h1 {
            font-size: 20px;
            align-content: center;
            display: flex;
            flex-wrap: wrap;
            background-color: white;
            padding: 0 20px;
        }

        .all_posts_container .blog_post .blog_post_content {
            background-color: #dddddd;
            padding: 10px 20px;
        }

            .all_posts_container .blog_post .blog_post_content img {
                float: right;
            }

            .all_posts_container .blog_post .blog_post_content .trash {
                cursor: pointer;
            }

            .all_posts_container .blog_post .blog_post_content p {
                overflow: hidden;
                text-overflow: ellipsis;
                height: 55px;
            }


/* Conformation Box */
.Confirmation_box_model {
    position: fixed;
    display: none;
    z-index: 2;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    margin: -5px;
}

    .Confirmation_box_model .conformation_box {
        border: none;
        padding: 15px 20px;
        background-color: #dddddd;
        color: black;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        width: 30%;
        text-align: center;
    }

        .Confirmation_box_model .conformation_box h1 {
            font-size: 18px;
        }

        .Confirmation_box_model .conformation_box .conformation_box_buttons {
            display: flex;
            justify-content: center;
            width: 100%;
        }

            .Confirmation_box_model .conformation_box .conformation_box_buttons button {
                margin: 0 20%;
                padding: 2% 10%;
                color: white;
                border: none;
            }

            .Confirmation_box_model .conformation_box .conformation_box_buttons #yes {
                background-color: #ff4d4d;
            }

            .Confirmation_box_model .conformation_box .conformation_box_buttons #no {
                background-color: #4CAF50;
            }
